@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&display=swap');

:root {
  --bgColor: #212121;
  --textColor: #dddddd;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--bgColor);

  font-family: 'Amatic SC', cursive;
}

.card {
  width: 80%;
  max-width: 50em;
  margin: .5em;
  padding: 12px;
  border: 1px solid var(--textColor);
  border-radius: 5px;
}

.quote {
  display: flex;
  justify-content: center;
  font-size: 64px;
  color: var(--textColor);
  margin-left: 20px;
}

.author {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: 40px;
  color: var(--textColor);
}

.new-quote-button {
  max-width: 7em;
  margin: 2em;
}